<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC + Vue + Webpack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        body {
            font-family: 'Roboto', sans-serif;
            padding-top: 50px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        #app-header.navbar-default .navbar-brand {
            font-size: 24px;
            font-weight: bold;
            color: rgba(119, 119, 119, 1);
        }

        #app-header.navbar-default {
            font-size: 18px;
            background-color: rgba(248, 248, 248, .9);
            border-width: 1px;
            border-radius: 0;
            /*box-shadow: 0 2px 8px -1px rgba(0,0,0,0.25)*/
        }

            #app-header.navbar-default .navbar-nav > li > a {
                color: rgba(119, 119, 119, 1);
                background-color: rgba(248, 248, 248, 0);
            }

                #app-header.navbar-default .navbar-nav > li > a:hover,
                #app-header.navbar-default .navbar-nav > li > a:focus {
                    color: rgba(51, 51, 51, 1);
                    background-color: rgba(248, 248, 248, 0);
                }

            #app-header.navbar-default .navbar-nav > .active > a,
            #app-header.navbar-default .navbar-nav > .active > a:hover,
            #app-header.navbar-default .navbar-nav > .active > a:focus {
                color: rgba(85, 85, 85, 1);
                background-color: rgba(231, 231, 231, 1);
            }

            #app-header.navbar-default .navbar-toggle {
                border-color: #ddd;
            }

                #app-header.navbar-default .navbar-toggle:hover,
                #app-header.navbar-default .navbar-toggle:focus {
                    background-color: #ddd;
                }

                #app-header.navbar-default .navbar-toggle .icon-bar {
                    background-color: #888;
                }

                #app-header.navbar-default .navbar-toggle:hover .icon-bar,
                #app-header.navbar-default .navbar-toggle:focus .icon-bar {
                    background-color: #888;
                }
    </style>
</head>
<body>

    <nav id="app-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">mvc + vue + webpack</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Page 1", "Page1", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Page 2", "Page2", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Page 3", "Page3", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <main class="container-fluid">
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @RenderSection("scripts")
</body>
</html>